<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ /assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE  9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<h1>Projects!</h1>
<ol>
    <li>
        <h3><a href="./Planner.html">Planner</a></h3>
    </li>
    <li>
        <h3><a href="./Project11.4.html">Project11.4</a></h3>
    </li>
</ol>
</body>
</html>
